---
type Props = {
  author: string;
  pubDate: Date;
  timeToRead: string;
};

const { author, pubDate, timeToRead }: Props = Astro.props;
---

<aside class="my-6 flex flex-wrap justify-start space-x-2 text-gray-400">
  <p>{author}</p>
  <span>|</span>
  <p>{timeToRead}</p>
  <span>|</span>
  <p>{new Date(pubDate).toLocaleDateString()}</p>
</aside>
