---
import Articles from "@components/article/articles.astro";
import Layout from "@layouts/layout.astro";

const pageTitle: string = "Aprendiendo | Inicio";

const articles = await Astro.glob("../pages/posts/*.md");
---

<Layout pageTitle={pageTitle}>
  <Articles articles={articles} title="Últimos artículos" isPrimary={true} />
  <div class="my-24 border-t-2"></div>
  <Articles articles={articles} title="Lo más leído" />
</Layout>
