---
import Articles from "@components/article/articles.astro";
import Layout from "@layouts/layout.astro";

const pageTitle: string = "Aprendiendo | Inicio";
---

<Layout pageTitle={pageTitle}>
  <Articles title="Últimos artículos" isPrimary={true} />
  <div class="my-24 border-t-2"></div>
  <Articles title="Últimas tendencias" />
</Layout>
