<form class="mt-4 flex flex-col md:flex-row">
  <input
    class="mb-4 w-full rounded border-2 border-gray-300 px-4 py-2 text-gray-700"
    type="email"
    placeholder="Correo electrónico"
  />
  <button
    class="rounded bg-blue-500 px-4 py-2 text-white md:ml-2 md:h-11"
    type="submit"
  >
    Suscribirse
  </button>
</form>
