---
import Header from "@components/header.astro";
import Footer from "@components/footer/footer.astro";

type Props = {
  pageTitle: string;
};

const { pageTitle }: Props = Astro.props;

import "@styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <section class="container mx-auto px-4 xl:px-0">
      <slot />
      <Footer />
    </section>
  </body>
</html>
